<h1>Menus</h1>

<table>
  <% for menu in @menus %>
    <tr>
      <td><%= link_to menu.name, menu_path(menu) %></td>
      <td>
        <%= link_to 'supprimer', menu_path(menu), method: 'delete' %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Créer un menu", new_menu_path %></p>
