<h1><%= @menu.name %></h1>

<p><%= link_to "Recommencer", reset_menu_path(@menu), method: 'post' %></p>

<dl>
  <% for day in @days %>
    <dt><%= day.name %></dt>
    <dd><%= day.recipe.name %></dd>
  <% end %>
</dl>
