<h1>Recettes</h1>

<p><%= link_to "Ajouter une recette", new_recipe_path %></p>

<table>
  <% for recipe in @recipes %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= link_to 'modifier', edit_recipe_path(recipe) %></td>
    </tr>
  <% end %>
</table>
